.chatlist{
    .search{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 20px;

        .searchbar{
            flex: 1;
            background-color: #2c2c3183;
            display: flex;
            align-items: center;
            gap: 20px;
            border-radius: 10px;
            padding: 10px;


            input{
                background-color: transparent;
                border: none;
                outline: none;
                color: white;
                flex: 1;
            }

            img{
                width: 20px;
                height: 20px;
            }

            

        }
        .add{
            width: 36px;
            height: 36px;
            background-color: #2c2c3183;
            padding: 10px;
            border-radius: 10px;
            cursor: pointer;
        }
    }
}